@model Application.ViewModels.ProductViewModel
<h3>Detalhes do Produto</h3>
<div><strong>Nome:</strong> @Model.Name</div>
<div><strong>Quantidade:</strong> @Model.Quantity</div>
<div><strong>Preço:</strong> @Model.Price.ToString("C")</div>
<div><strong>Descrição:</strong> @Model.Description</div>
<a class="btn btn-secondary mt-3" href="/Product">Voltar</a>